* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100vh;
}

body {
  font-family: Inter, Arial, sans-serif;
  background: var(--bg);
  color: var(--text);
  transition: all 0.3s ease;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}